@media screen and (max-width: 379px) {
  
  .header_nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header_link {
    font-size: 30px;
    padding-left: 15px;
    text-decoration: none;
    color: #000;
  }
  .header_background_photo{
    background-image: url(../img/1639743281_aroma-svechi-10\ 1.png);
    max-width: 378px;
    min-height: 700px;
}
  .text_about_us{
    font-size: 25px;
    max-width: 650px;
    min-height: 550px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}
.foto_about_us{
    background-color: #f5e0c9;
    max-width: 378px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main_about_us_foto_one{
    max-width: 170px;
    min-height: 190px;
    margin:0px;
}
.main_about_us_foto_tow{
    max-width: 170px;
    min-height: 190px;
    margin:0px;
}
}